*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cinza: #303633;
    --vermelho: #bf2727;
    --vermelho-strange: #320000;
    --branco: white;
    --azul: #3c589a;
}

body {
  background-color: var(--vermelho-strange);
  color: var(--branco);
}

